@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@import "tailwindcss";

:root {
  --primary-color: #f23535;
  --secondary-color: #73221a;
  --primary-bg-color: #3b3c40;
  --secondary-bg-color: #0a0b0d;
  --neutral-color: #bfbfbf;

  --imob-color-one: #283540;
  --imob-color-two: #595959;
  --imob-color-three: #8c8987;
  --imob-color-five: #e6e6e6;
  --imob-color-six: #f2f2f2;

  --dash-color-primary:#3082ED;

}

* {
  font-family: "Inter Tight", sans-serif;
}

/* Animação tecnologias.jsx */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-flex;
  min-width: 100%;
  animation: marquee 100s linear infinite;
}
